<nav>
    <ul>
        <li>
            <a href="/">Hem</a>
        </li>
        <li>
            <a href="/visitkort">Visitkort</a>
        </li>
        <li>
            <a href="/nonav">Nonav</a>
        </li>
    </ul>
</nav>